name: CD-external-indices

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  dist:
    name: CD-external-indices
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install db-dtypes google-cloud-bigquery pandas pyarrow

      - name: Authorize Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.SERVICE_ACCOUNT_KEY }}"
          create_credentials_file: true
          export_environment_variables: true

      - name: Execute SQL Query and Generate Parquet Files
        run: |
          python scripts/python/generate-indices.py
        env:
          PROJECT_ID: ${{ env.GCP_PROJECT }}

      - name: Create Tagged Release
        id: create_tagged_release
        if: github.event_name == 'release' && github.event.action == 'published'
        uses: ncipollo/release-action@v1
        with:
          artifacts: "release_artifacts/*.parquet,release_artifacts/*.json,release_artifacts/*.sql"
          allowUpdates: true
          omitBodyDuringUpdate: true
